.dropdown {
  @include responsize-size(margin-bottom, 24);
  position: relative;
  .results {
    @include shallow-box;
    @include responsize-size(margin-top, 4);
    display: block;
    width: 100%;

    ul {
      padding: 0;
      margin: 0;

      li {
        @include font-size(36);
        @include responsize-size-2d(padding, 12, 16);
        list-style: none;

        &:hover {
          cursor: pointer;
          @include shallow-background;
        }
      }
    }
  }
}