.header {
  display: flex;
  justify-content: center;
  align-items: center;
  @include responsize-size-2d(padding, 32, 0);
  
  h1 {
    @include responsize-size(margin-left, 32);
    text-transform: uppercase;
    display: inline;
  }

  svg {
    @include responsize-size(height, 72);
  }
}
