table.table {
  @include shallow-box;
  @include font-size(24);
  @include responsize-size-2d(padding-left, 0, 24);

  thead {
    @include shallow-background;
  }

  td, th {
    border: none;
    font-weight: 300;
  }

  td:first-child, th:first-child {
    @include responsize-size(padding-left, 48);
  }
  
  td:last-child, th:last-child {
    @include responsize-size(padding-right, 48);
  }
}
