$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 900px,
  xl: 900px
) !default;

@mixin shallow-background {
  background: rgba(196, 196, 196, 0.16);
}

@mixin shallow-box {
  @include shallow-background;
  border-radius: 5px;
}

@mixin responsize-size($type, $px) {
  @include media-breakpoint-down(sm) {
    #{$type}: ($px*0.5)+px;
  }
  @include media-breakpoint-only(md) {
    #{$type}: ($px*0.75)+px;
  }
  @include media-breakpoint-up(lg) {
    #{$type}: ($px)+px;
  }
}

@mixin responsize-size-2d($type, $xpx, $ypx) {
  @include media-breakpoint-down(sm) {
    #{$type}: ($xpx*0.5)+px ($ypx*0.5)+px;
  }
  @include media-breakpoint-only(md) {
    #{$type}: ($xpx*0.75)+px ($ypx*0.75)+px;
  }
  @include media-breakpoint-up(lg) {
    #{$type}: ($xpx)+px ($ypx)+px;
  }
}

@mixin responsize-size-4d($type, $toppx, $leftpx, $bottompx, $rightpx) {
  @include media-breakpoint-down(sm) {
    #{$type}: ($toppx*0.5)+px ($leftpxypx*0.5)+px ($bottompx*0.5)+px ($rightpx*0.5)+px;
  }
  @include media-breakpoint-only(md) {
    #{$type}: ($toppx*0.75)+px ($leftpx*0.75)+px ($bottompx*0.75)+px ($rightpx*0.75)+px;
  }
  @include media-breakpoint-up(lg) {
    #{$type}: ($toppx)+px ($leftpx)+px ($bottompx)+px ($rightpx)+px;
  }
}

@mixin font-size($px) {
  @include responsize-size(font-size, $px);
}

@import '~bootstrap/scss/bootstrap.scss';
$color-white: #fff;

html {
  height: 100%
}

body {
  font-family: 'Roboto', sans-serif;
  height: 100%;
  color: $color-white;

  background: linear-gradient(180deg, #BE5869 0%, #403A3E 100%);
  background-attachment: fixed;

  #root {
  }
}

h1 {
  @include font-size(48);
  text-align: center;
}

h2 {
  @include font-size(36);
  @include responsize-size("margin-bottom", 48);
  text-align: center;
  &.no-margin {
    margin-bottom: 0;
  }
}

button {
  @include shallow-box;
  @include font-size(36);
  @include responsize-size-2d(padding, 12, 72);
  margin: 0 auto;
  display: block;
  text-transform: uppercase;
  color: $color-white;
  border: none;

  &:hover {
    @include shallow-background;
  }

  &:focus {
    outline: none;
  }
}

input[type="text"] {
  @include shallow-box;
  @include font-size(36);
  @include responsize-size-2d(padding, 12, 16);
  display: block;
  border: none;
  color: #fff;
  width: 100%;
}

@import './styles/App.scss';
@import './styles/Dropdown.scss';
@import './styles/Header.scss';
@import './styles/Setup.scss';
@import './styles/Table.scss';
@import './styles/ArrivalList.scss';
